.my-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 100px;
}

.has-blue-background {
  background-color: #a7ddff;
  border: 20px solid #721EE3;
  margin: 20px;
}

.has-yellow-background {
  background-color: #FAF7A7;
  border: 20px solid #E38C1E;
  margin: 20px;
}
